@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global */
html {
    font-size: 62.5%;
}

body {
background-image: url(../images/jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 120vh;
  color: #f3fff3;
}

h1 {
    font-size: 3.6rem;
}


/* Buttons */
.btn {
  font-size: 2rem;
  padding: 1rem 6rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: #f3fff3;
  background-color: rgb(79,133,91);
  border-radius: 25px 75px;
  
  
}

.btn-primary {
border-color: #f3fff3;
}

.btn-primary:hover {
color: #f3fff3;
background-color: #1b442a;
border-color: #f3fff3;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #1b442a;
  border-color: #f3fff3;
  box-shadow: 0 0 0 0.2rem rgb(31 83 46 / 70%);
}

/* Title */
.page-title {
    position: relative;
    top: 10%;
}

/* Jumbotron */
.jumbotron {
    background-color: rgba(31, 83, 46, 0.7);  
    margin-right: auto;
    margin-left: auto;
}

/* Modal */
.modal-body {
  color: #1b442a !important;
  font-size: 2rem;
}

.modal-footer {
  justify-content: center !important;
}

.modal-title {
  color: #1b442a !important;
  font-size: 3rem;
  font-weight: 700;
}

/* progressbar styles */
#progressbar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
   background-color: orange;
   width: 100%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

/* Home Page */
.box-index {
    height: 60vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* coundown page */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Contact page */

.form-control {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;

  color: #f3fff3;
  background-color: transparent;
  border: 2px solid #ced4da;
  margin: 5px;
}

.box-contact {
  height: 80vh;
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Play page */
.box-play {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question {
  font-size: 3rem;
  margin-left: 20px;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* footer styles */

  .footer-style a {
    font-size: 2rem;
    text-decoration: none;
    color: #f3fff3;
  }

  .overlay {
    background-color: rgba(31, 83, 46, 0.7);
    
    display: flex;
    align-items: center;
    
  }






