@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global */
html {
    font-size: 62.5%;
}

body {
background-image: url(/assets/images/jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 160vh;
  color: #fff;
}

h1 {
    font-size: 3.6rem;
}

/* Title */
.page-title {
    position: relative;
    top: 20%;
}

/* Jumbotron */
.jumbotron {
    background-color: rgba(31, 83, 46, 0.7);  
}

/* Home Page */
.box-index {
    height: 120vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.btn {
    font-size: 2rem;
    padding: 1rem 6rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(79,133,91);
    border-radius: 25px 75px;
    
    
  }

/* Play page */
  .box-play {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #question{
    font-size: 3rem;
    margin-left: 20px;
  }

  /* footer styles */

  .footer-style a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
  }

  .overlay {
    background-color: rgba(31, 83, 46, 0.7);
    
    display: flex;
    align-items: center;
    
  }

/* media queries */

@media (min-width: 768px) { 

}

